{{!< default}}

<section id="about" class="container content-section">
    {{#author}}
    <section class="author-profile text-center">
      <span>Posts by:</span>
      <h1 class="author-title">{{name}}</h1>
      <h2 class="author-bio">{{bio}}</h2>
    </section>
    {{/author}} 
    {{#foreach posts}}
        <div class="row post-container">
          <div class="col-lg-8 col-lg-offset-2">
            <header class="post-header text-center">
              <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            </header>
            <section class="post-content">
              <p class="post-excerpt">{{excerpt}}&hellip;
                <span>
                  <a href="{{url}}">>></a>
                </span>
              </p>
            </section>
            <footer class="post-meta">
                {{author}}
                {{tags prefix=" on "}}
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </footer>
          </div>         
        </div>
        
    {{/foreach}}
    {{pagination}}
 </section>
