<!doctype html>
<html class="no-js">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    {{! Include for changeable bootstrap theme }} 
    {{> bootstrap-theme }}

    <link href="{{asset "css/main.css"}}" rel="stylesheet" type="text/css">

        <!-- Custom Fonts -->
    <link href="{{asset "font-awesome/css/font-awesome.min.css"}}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{! Navbar include }}    
    {{> navbar}}


    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Footer include }}    
    {{> footer}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <!-- jQuery -->
    <script src="{{asset "js/jquery.js"}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset "js/bootstrap.min.js"}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{asset "js/jquery.easing.min.js"}}"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="{{asset "js/grayscale.js"}}"></script>

</body>
</html>
