{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


<section id="about" class="container content-section">
    {{#foreach posts}}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
				<header class="text-center">
					<h2 itemprop="name headline"><a href="{{url}}">{{{title}}}</a></h2>
					<p>
						<time datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time>
						<span class="text-muted">
							{{tags separator=" / "}}
						</span>
					</p>
				</header>
				<section itemprop="articleBody text">
					<p>{{excerpt}}&hellip;
						<span>
							<a href="{{url}}">>></a>
						</span>
					</p>
				</section>
            </div>    
        </div>
    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    <div class="hidden">
        {{pagination}}
    </div>
</section>
