{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<section id="about" class="container content-section">
 {{#post}}
      <div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<header class="post-header text-center">
				<h2 class="post-title">{{{title}}}</h2>
				<section class="post-meta">
					<time datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time> {{tags prefix=" on "}}
				</section>
			</header>
			<section class="post-content">
			{{content}}
			</section>
      <br/>
			<section>
			{{#author}}
				<div class="media">
					{{#if image}}
					<div class="media-left">
						<img class="media-object no-fluid img-circle" alt="{{name}}" src="{{image}}" style="width: 64px; height: 64px;">
					</div>
					{{/if}}
					<div class="media-body">
						<h4 class="media-heading">by <a href="{{url}}" rel="author">{{name}}</a></h4>
						{{#if bio}}
						<p>{{bio}}</p>
						{{/if}}
					</div>
				</div>
			{{/author}}
      <section class="share-buttons text-center">
        <span>Share <i class="fa fa-share"></i></span><br/><br/>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
        </ul>
      </section>
			</section>
		</div>
       </div>
    {{/post}}
</section>

{{! Comments include }}    
<!--{{> comments}}-->

